FLASK_ENV=development
SECRET_KEY=change-me
DATABASE_URL=sqlite:///cloudinventory.db

# Auth
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# NetBox
NETBOX_URL=http://127.0.0.1:8000
NETBOX_TOKEN=nbt_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NETBOX_VERIFY_SSL=false

# Sources de données (true = mock, false = API réelle)
USE_MOCK_VIRT=true
USE_MOCK_IPAM=true

# Proxmox VE
PROXMOX_URL=https://pve.local:8006
PROXMOX_TOKEN_ID=user@pam!token
PROXMOX_TOKEN_SECRET=xxxx
PROXMOX_VERIFY_SSL=false
